body, table, input, textarea, select {
	font-family: Ubuntu,sans-serif
}

body > div {
  width: 500px;
  margin: auto;
  margin-top: 2em;
}

img {
	border: none;
}

img#logo {
  float: left;
}

h1 {
  float: left;
  font-size: 64px;
  margin: 0px;
  padding-left: 5px;
  padding-top: 5px;
}

h1:before {
	content: ':'
}

h2 {
  clear: both;
  padding-top: 2em;
}

li {
	list-style: none
}